---
import Nav from "../components/Nav.tsx"

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<main>
			<Nav client:load />
		<slot /> <!-- All the different pages to be rendered here -->
		</main>
	</body>
</html>

